<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <uses-permission android:name="android.permission.READ_CLIPBOARD" />
    <uses-permission android:name="android.permission.WRITE_CLIPBOARD" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="ZEIT"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimeManagementHandBook"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.vision"
            android:value="@integer/google_play_services_version">
        </meta-data>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/YOUR_API_KEY">
        </meta-data>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="time-manaa"/>

        <activity
            android:name=".activity.AboutZEIT_Activity"
            android:label="About ZEIT"
            android:exported="false"
            android:parentActivityName=".activity.Home_Activity" />
        <activity
            android:name=".activity.AddTask_Activity"
            android:exported="false"
            android:label="Add new task"
            android:parentActivityName=".activity.Home_Activity" />
        <activity
            android:name=".activity.AddEvent_Activity"
            android:exported="false"
            android:label="Add new event"
            android:parentActivityName=".activity.Home_Activity" />
        <activity
            android:name=".activity.Home_Activity"
            android:exported="false"
            android:label="ZEIT"
            android:enableOnBackInvokedCallback="true"/>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>