<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CLIPBOARD" />
    <uses-permission android:name="android.permission.WRITE_CLIPBOARD" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/big_icon"
        android:label="ZEIT"
        android:roundIcon="@drawable/big_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimeManagementHandBook"
        tools:targetApi="31">
        <activity
            android:name=".activity.ProlongedEvent_Activity"
            android:exported="false" />
        <activity
            android:name=".activity.Event_Activity"
            android:exported="true"
            android:label="Event"
            android:parentActivityName=".activity.Home_Activity"/>
        <activity
            android:name=".activity.Task_Activity"
            android:exported="false"
            android:label="Task"
            android:parentActivityName=".activity.Home_Activity" />
        <activity
            android:name=".activity.AddAccount_Activity"
            android:exported="false"
            android:label="Add account"
            android:parentActivityName=".activity.Home_Activity"/>

        <meta-data
            android:name="com.google.android.gms.vision"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/YOUR_API_KEY" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="timemanagementhandbook" />

        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AboutZEIT_Activity"
            android:exported="false"
            android:label="About ZEIT"
            android:parentActivityName=".activity.Home_Activity" />
        <activity
            android:name=".activity.AddTask_Activity"
            android:exported="false"
            android:label="Add new task"
            android:parentActivityName=".activity.Home_Activity" />
        <activity
            android:name=".activity.AddEvent_Activity"
            android:exported="false"
            android:label="Add new event"
            android:parentActivityName=".activity.Home_Activity" />
        <activity
            android:name=".activity.Home_Activity"
            android:enableOnBackInvokedCallback="true"
            android:exported="false" />
        <activity
            android:name=".activity.Login_Activity"
            android:enableOnBackInvokedCallback="true"
            android:exported="false" />
        <activity
            android:name=".activity.Account_Activity"
            android:exported="false"
            android:label="Account"
            android:parentActivityName=".activity.Home_Activity" />

        <service
            android:name=".model.MyForegroundService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.time_management_handbook.model.MyForegroundService" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.time_management_handbook.stop_service" />
            </intent-filter>
        </service>
    </application>

</manifest>